<html>
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Triship</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css-2/bootstrapBooking.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,500,700&display=swap" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="css-2/styleBooking.css" rel="stylesheet" />
</head>
<body>
 <!-- package section -->
  <section class="package_section layout_padding-top">
    <div class="container">
      <div class="package_container">
        <div class="box active">
          <div class="detail-box">
            <h4>
              America
            </h4>
            <a href="#">
              Pogledaj ponude
            </a>
          </div>
        </div>
        <div class="box ">
          <div class="detail-box">
            <h4>
              London
            </h4>
            <a href="#">
              Pogledaj ponude
            </a>
          </div>
        </div>
        <div class="box ">
          <div class="detail-box">
            <h4>
              New York
            </h4>
            <a href="#">
              Pogledaj ponude
            </a>
          </div>
        </div>
        <div class="box ">
          <div class="detail-box">
            <h4>
              Hong Kong
            </h4>
            <a href="#">
              Pogledaj ponude
            </a>
          </div>
        </div>
        <div class="box ">
          <div class="detail-box">
            <h4>
              Malaysia
            </h4>
            <a href="#">
              Pogledaj ponude
            </a>
          </div>
        </div>
        <div class="box ">
          <div class="detail-box">
            <h4>
              Japan
            </h4>
            <a href="#">
              Pogledaj ponude
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end package section -->

</body>
</html>